<% provide(:title, 'Edit user') %>
<% provide(:login, logged_in?) %>
<% provide(:user_id, current_user_id) %>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= react_component('EditUser', {id: @user.id, name: @user.name, email: @user.email, gravatar: gravatar_for(@user) }) %>
